# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*

# Credenciais Google
backend/credentials/
aqueous-cargo-496119-e5-213ae49241a1.json
service-account.json

# VS Code
.vscode/

# Logs
*.log